@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #E3D5CA; */
}

.navBar {
    background-color: black;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
}

.hamburger {
    display: none;
    float:right;
    margin: 12px;
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navBar ul {
    overflow: auto;
    margin-top: 0;
}

.navBar li {
    float:right;
    list-style: none;
    margin: 30px 14px;
}

.navBar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navBar li a:hover {
    color: rgb(32, 200, 99);
}

.navBar img {
    width: 70px;
    margin-top: 5px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 35, 44);
}

.main {
    background-color: rgb(26, 35, 44);
    height: 100vh;
}

.infoContainer {
    background-color: rgb(26, 35, 44);
    height: 50vh;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
}

.teacherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}

#pic {
    height: 40vh;
}

.name {
    color: rgb(32, 200, 99);
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.info {
    color: white;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

.moreInfo {
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.buttons button {
    margin-top: 16px;
    margin-right: 10px;
    padding: 9px;
    border-radius: 19px;
    color: black;
    background-color: rgb(32, 200, 99);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border-style: none;
}

.buttons button:hover {
    color: rgb(26, 35, 44);
    background-color: white;
    scale: 1.04;
}

@media (max-width: 885px) {
    #pic {
        padding: 12px;
        scale: 0.5;
    }

    .navBar img {
        width: 45px;
    }

    .navBar li {
        margin: 20px 7px;
    }

    .name {
        font-size: 30px;
    }

    .info {
        font-size: 18px;
    }

    .moreInfo {
        font-size: 8px;
    }
}

footer {
    background: #1e2832;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    max-width: 85%;
    margin: auto;
}

footer img {
    width: 55px;
    margin-top: 40px;
}

footer h4 {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer li {
    color: rgb(181, 181, 181);
    list-style: none;
    margin-bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

footer .content {
    grid-template-columns: repeat(5, 1fr);
}

footer .grid {
    display: grid;
    grid-gap: 20px;
}

footer .icon {
    color: white;
    margin-top: 30px;
    transition: 0.5s;
}
  
footer .icon i {
    font-size: 20px;
    cursor: pointer;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

footer .text {
    font-size: 14px;
    color: whitesmoke;
    margin-top: 30px;
    background: #151d24;
    /* padding: 10px; */
    padding: 10px 30px;
    border-radius: 50px 0 50px 0;
    text-align: right;
}

footer .box i:hover,
footer .box li:hover {
    color: #20C863;
    opacity: 1;
}

footer .legal {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    padding-bottom: 20px;
}

footer .legal a {
    text-decoration: none;
}

@media (max-width: 695px) {
    header .navv {
        transform: translate(0px, -99px);
        position: absolute;
    }

    .hamburger {
        display: block;
        cursor: pointer;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
}
/* qwerty */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background:  #E3D5CA;
  /* display: flex; */
  /* min-height: 100vh; */
  /* justify-content: center; */
  /* align-items: center; */
}

.form-container {
/* margin-top: -200px; */
  width: 360px;
  background-color: white;
  /* margin: auto; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  /* padding: 10px; */
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

/* span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
} */

input,select {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}
/* 
button {
  background: #4caf50;
  color: white;
  cursor: pointer;
} */

button:disabled {
  cursor: default;
}
.space{
    padding-left:15px ;
}
